.allDivs{
    border: 3px solid black; 
    border-radius: 10px;
}

    #div1 {
        background-color: blue;
        width: 400px;
        height: 400px;
    }

    #div2 {
      background-color: gold;
      width: 500px;
      height: 300px;
    } 

    #div3 {
        background-color: rgb(255, 86, 8);
        width: 50%;
        height: 80px;
        font-family: fantasy;
        color: azure;
    }
